[Unit]
Description=Sync Videos/VIDEOS.ods daily from boxy
#Requires=home-cbaker-Shares-boxy.mount
#After=home-cbaker-Shares-boxy.mount
Wants=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
