[Desktop Entry]
Version=1.0
Name=Firefox GMail
Comment=Send, receive and manage your GMail with Firefox
GenericName=Mail Client
GenericName[af]=E-pos kliënt
GenericName[ar]=عميل البريد
GenericName[be]=Паштовы кліент
GenericName[bg]=Пощенски клиент
GenericName[br]=Kliant postel
GenericName[bs]=Klijent pošte
GenericName[ca]=Client de correu
GenericName[ca@valencia]=Client de correu
GenericName[cs]=Klient pro čtení elektronické pošty
GenericName[cy]=Dibynnydd Ebost
GenericName[da]=E-mail-klient
GenericName[de]=E-Mail-Programm
GenericName[el]=Πελάτης αλληλογραφίας
GenericName[en_GB]=Mail Client
GenericName[eo]=Legi kaj sendi retpoŝton
GenericName[es]=Cliente de correo
GenericName[et]=E-posti klient
GenericName[eu]=Posta bezeroa
GenericName[fa]=کارخواه‌نامه
GenericName[fi]=Sähköpostiohjelma
GenericName[fr]=Logiciel de courriel
GenericName[fy]=E-portclient
GenericName[ga]=Cliant Ríomhphoist
GenericName[gl]=Cliente de correo
GenericName[he]=לקוח דוא"ל
GenericName[hr]=Program za elektronsku poštu
GenericName[hu]=Levelezőprogram
GenericName[ia]=Cliente de e-posta
GenericName[is]=Póstforrit
GenericName[it]=Programma di posta elettronica
GenericName[ja]=メールクライアント
GenericName[ka]=ფოსტის კლიენტი
GenericName[kk]=Эл.пошта клиенті
GenericName[km]=កម្មវិធី​អ៊ីមែល
GenericName[ko]=이메일 클라이언트
GenericName[lt]=Pašto klientas
GenericName[lv]=Pasta klients
GenericName[mai]=डाकिया
GenericName[mk]=Клиент за електронска пошта
GenericName[mr]=मेल ग्राहक
GenericName[ms]=Pelanggan Mel
GenericName[nb]=E-postklient
GenericName[nds]=Nettpostprogramm
GenericName[ne]=पत्र क्लाइन्ट
GenericName[nl]=E-mailclient
GenericName[nn]=E-postprogram
GenericName[pa]=ਮੇਲ ਕਲਾਇਟ
GenericName[pl]=Program pocztowy
GenericName[pt]=Cliente de E-mail
GenericName[pt_BR]=Cliente de e-mail
GenericName[ro]=Client de poștă
GenericName[ru]=Почтовый клиент
GenericName[se]=E-boastaprográmma
GenericName[sk]=Poštový klient
GenericName[sl]=Poštni odjemalec
GenericName[sr]=Поштански клијент
GenericName[sr@ijekavian]=Поштански клијент
GenericName[sr@ijekavianlatin]=Poštanski klijent
GenericName[sr@latin]=Poštanski klijent
GenericName[sv]=E-postklient
GenericName[ta]=அஞ்சல் பயனர்
GenericName[tg]=Клиенти почтавӣ
GenericName[th]=ไคลเอนต์จัดการจดหมาย
GenericName[tr]=E-Posta İstemcisi
GenericName[ug]=خەت خېرىدارى
GenericName[uk]=Поштовий клієнт
GenericName[uz]=Xat-xabar klienti
GenericName[uz@cyrillic]=Хат-хабар клиенти
GenericName[vi]=Mail Client
GenericName[wa]=Cliyint d' emilaedje
GenericName[xh]=Umxhasi Weposi
GenericName[x-test]=xxMail Clientxx
GenericName[zh_CN]=邮件客户端
GenericName[zh_TW]=收發信軟體
Keywords=Email;Mail;Gmail
Exec=firefox -P gmail --new-instance %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/cbaker/.local/share/icons/hicolor/64x64/apps/gmail.png
Categories=GNOME;GTK;Network;WebBrowser;Office;Email;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupNotify=true
